body {
  margin: 0px;
  padding: 0px;
  font-family: 'Dosis', sans-serif;
}

html{
  scroll-behavior: smooth;
}


h1 {
	margin: 0px;
	padding: 10px;
	font-size: 60px;
}

.section1 {
	height: 100vh; 
	background-color: rgb(229,229,229);
	background-repeat: no-repeat;
	animation: myfirst 5s;
	background-position: right center; 
}

/* Scroll */
.demo a {
  position: absolute;
  bottom: 20px;
  left: 30%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: black;
  font : normal 700 20px/1 'Dosis', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  animation: appear 0s 6s forwards;
  opacity: 0;
}
@keyframes appear {
  to   { opacity: 1; }
}

.demo a:hover {
  opacity: .5;
}

#scroll a {
  padding-top: 70px;
}
#scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
/* End Scroll */

.big-heading {
	font-weight: 700;
	text-transform: uppercase;
}

.terminal {
  background: transparent;
  position: absolute;
  left: 10%;
  top: 10%;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
  font: inherit;
  border: none;
  outline: none;
  color: black;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;

}

.section-title {
	font-weight: 700; 
	text-align: left;
	padding: 15px;
	padding-top: 25px;
}

.phrase {
	font-weight: 600; 
	font-size: 60px;
	position: relative;
	padding: 20px;
	padding-top: 20vh;
	padding-bottom: 20vh;
}

.div-phrase {
	display: flex;
  justify-content: center; /* Centering Horizantly */
  align-items: center;
}



@keyframes myfirst {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

/** HEADER **/
#header-nav {
  background-color: rgb(255, 255, 255);
  border-radius: 1px;
  border-color: rgb(224, 224, 224);
  padding: 0px;
  height: 90px;
  position: fixed;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-brand {
  padding-top: 25px;
  text-align: center;
}

.navbar.navbar-inverse .navbar-header .navbar-brand {
    display: block;
    text-align: center;
    float: none;
    vertical-align: top;
 }


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;

}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 26px;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: rgb(224, 224, 224);
}
#nav-list a span {
  font-size: 1.8em;
}

.color-changed{
	background-color:white !important;
	border-color: rgb(224, 224, 224);
}

#collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
}

.header {
	height: 30vh;
}
/* END HEADER */

/* ABOUT ME */
.container .jumbotron {
  box-shadow: 0 0 50px white;
}
/* END ABOUT ME */

/* EXPERIENCE */

.title-font {
	font-size: 36px;
	padding-left: 0;
	line-height: 120%;
}

.leading-relaxed {
	font-size: 18px;
	text-align: left; 
}

.large-size {
	font-size: 24px;
}

.text-box{
  z-index: 222;
  background: rgba(41, 41, 55, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  padding-top: 10;
  padding-bottom: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

/* END EXPERIENCE */

/* EDUCATION */


.carousel{
	height: 120vh;
  position:relative;
	top:300px;
	left:50%;
	transform:translate(-50%,-50%);
}

.carousel-item {
	border-radius: 10px;
}

.carousel-item__container h1 {
	font-size: 36px;
}
/* END EDUCATION */

/* PORTFOLIO */

/* END PORTFOLIO */

/* CONTACT */

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: white;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 280px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 10px;
  color: white;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
  text-align: center;
}

.social-media-list a{
  text-decoration:none;
}
.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: white; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: rgb(229,229,229);
}

hr {
  border-color: rgba(255,255,255,.6);
}

#wrap {
    margin: 20px auto;
    text-align: center;
}

.btn-slide2 {
    position: relative;
    display: inline-block;
    height: 53px;
    width: 200px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: rgb(214,216,219);
    border: 2px solid rgb(10,13,22);
    margin: 10px;
    transition: .5s;
}

.btn-slide2:hover {
    background-color: rgb(10,13,22);
    border: 2px solid rgb(10,13,22);
}

.btn-slide2:hover span.circle2 {
    left: 100%;
    margin-left: -45px;
    background-color: rgb(214,216,219);
    color: rgb(10,13,22);
}

.btn-slide2:hover span.title2 {
    left: 40px;
    opacity: 0;
}

.btn-slide2:hover span.title-hover2 {
    opacity: 1;
    left: 40px;
    color: rgb(214,216,219);
}

.btn-slide2 span.circle2 {
    display: block;
    background-color: rgb(10,13,22);
    color: rgb(214,216,219);
    position: absolute;
    float: left;
    margin: 5px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}

.btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    position: absolute;
    left: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: rgb(214,216,219);
    transition: .5s;
}

.btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    color: rgb(10,13,22);
    left: 70px;
  }

.btn-slide2 span.title-hover2 {
    left: 80px;
    opacity: 0;
}

.btn-slide2 span.title-hover2 {
    color: rgb(214,216,219);
}

/* END CONTACT */


/** Extra small devices (portrait phones, less than 576px) **/
@media (max-width: 575.98px) { 
	/* Home Page */
	.intro-xs {
		padding: 0vh;
		padding-top: 35px;
		background-position: bottom right;
		text-align: left;
		margin: 0;
		background-size: 70vw;
	}
	.title-xs {
		font-size: 9vw;
	}
	.scroll-xs a {
  left: 10%;
	}
	/* End Home Page */ 

	/* About Me */

  	.container .jumbotron {
    margin-top: 30px;
    padding: 0;
    border-radius: 0px;
    height: 90%;
    background-color: white;
    margin-bottom: 0;

  	}
  	.paragraph, .phrase{
  		padding-top: 10vh;
  	}

  	.paragraph {
  		font-size: 20px;;
  	}
  	/* End About Me */

  /* EXPERIENCE & EDUCATION */


  /* Carousel */
  .carousel-item__image-xs {
    width: 40%;
    flex-basis: 40%;
    -webkit-flex-basis: 40%;
	}
	.content__left-xs {
		padding: 7px;
		flex-basis: 80%;

	}
	.content__right-xs {
		background-position:;
	}
	/* END Carousel */
	/* END EXPERIENCE & EDUCATION */

		/* CONTACT */

}


/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) and (max-width: 767.98px) { 
	/* Home Page */
	.intro-sm {
		padding: 0vh;
		padding-top: 50px;
		padding-left: 10px;
		background-position: right bottom;
		text-align: left;
		margin: 0;
		background-size: 75vw;
	}
	.title-s {
		font-size: 8vw;
	}
	.scroll-s a {
  left: 10%;
	}
	/* End Home Page */

	/* About Me */

  	.container .jumbotron {
    background-color: white;
    height: 90%;
  	}

  	.paragraph, .phrase{
  		padding-top: 10vh;
  	}
  	/* End About Me */

  /* EXPERIENCE & EDUCATION */

	  /* Carousel */
  .carousel-item__image-xs {
    width: 40%;
    flex-basis: 40%;
    -webkit-flex-basis: 40%;
	}
	.content__left-xs {
		padding: 7px;
		flex-basis: 80%;

	}
	/* END Carousel */
	/* END EXPERIENCE & EDUCATION */

	/* CONTACT */

}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) and (max-width: 991.98px) { 
	/* Home Page */
	.intro-md {
		padding: 15vh;
		background-position: right center;
	} 
	.scroll-md a {
  left: 10%;
	}
	/* End Home Page */

	/* About Me */
	.container .jumbotron {
    background: url('../images/graduacion.jpeg') no-repeat;
    height: 100vh;
  	}
  	/* End About Me */

  /* EXPERIENCE & EDUCATION */

	/* END EXPERIENCE & EDUCATION */
	#scroll-top {
		visibility: hidden;
	}
}


/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	/* Home Page */
	.intro-lg {
		padding: 25vh;
		background-position: right center;
		position: relative;
	}
	/* End Home Page */

	/* About Me */
	.container .jumbotron {
    background: url('../images/graduacion.jpeg') no-repeat;
    height: 100vh;
    padding: 0;
  	}
  	/* End About Me */
  /* EXPERIENCE & EDUCATION */

	/* END EXPERIENCE & EDUCATION */
	#scroll-top {
		visibility: hidden;
	}
}

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) { 
	/* Home Page */
	.intro-xl {
		padding: 25vh;
		background-position: 75% 100%;
	}
	/* End Home Page */

	/* About Me */
	.container .jumbotron {
    background: url('../images/graduacion.jpeg') no-repeat;
    background-position: 75% 50%;
    height: 100vh;
  	}
  	/* End About Me */

  #scroll-top {
		visibility: hidden;
	}
}




.socials {
  list-style: none;
}
.socials li{
  display: inline;
  margin: 5px;
  font-size: 2em;
}

.socials li .fa {
	color: black;
}

.hidden{
	visibility: hidden;
}
